@model Domain.CustomFieldValue

@{
    ViewData["Title"] = "Delete";
    ViewData["Site"] = "Custom field values";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomFieldValue</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="CustomFieldValueId" />
        <dt>
            @Html.DisplayNameFor(model => model.FieldValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomField.CustomFieldId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectTask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectTask.ProjectTaskId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
