@model Domain.UserInProject

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserInProject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TitleInProject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TitleInProject.UserTitleInProjectId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserInProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
