@model IEnumerable<AspNetCore.Identity.Uow.Models.IdentityRoleClaim>

@{
    ViewData[index: "Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(expression: model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(expression: model => model.ClaimType)
            </th>
            <th>
                @Html.DisplayNameFor(expression: model => model.ClaimValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(expression: modelItem => item.Role.Name)
                </td>
                <td>
                    @Html.DisplayFor(expression: modelItem => item.ClaimType)
                </td>
                <td>
                    @Html.DisplayFor(expression: modelItem => item.ClaimValue)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdentityRoleClaimId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdentityRoleClaimId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdentityRoleClaimId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
