@model IEnumerable<AspNetCore.Identity.Uow.Models.IdentityUserLogin>

@{
    ViewData[index: "Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(expression: model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(expression: model => model.ProviderDisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(expression: model => model.LoginProvider)
            </th>
            <th>
                @Html.DisplayNameFor(expression: model => model.ProviderKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(expression: modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(expression: modelItem => item.ProviderDisplayName)
                </td>
                <td>
                    @Html.DisplayFor(expression: modelItem => item.LoginProvider)
                </td>
                <td>
                    @Html.DisplayFor(expression: modelItem => item.ProviderKey)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdentityUserLoginId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdentityUserLoginId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdentityUserLoginId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
