@model WebApplication.Areas.Identity.ViewModels.UserRolesIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles.FirstOrDefault().IdentityUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRoles.FirstOrDefault().IdentityRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserRoles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityRole.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { userId = item.IdentityUser.Id, roleId = item.IdentityRole.Id }) |
                @Html.ActionLink("Details", "Details", new { userId = item.IdentityUser.Id, roleId = item.IdentityRole.Id }) |
                @Html.ActionLink("Delete", "Delete", new { userId = item.IdentityUser.Id, roleId = item.IdentityRole.Id })
            </td>
        </tr>
}
    </tbody>
</table>
