@using System.Globalization
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[index: "Title"] - WebApplication</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <environment names="Development">
        

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/admin/dist/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. -->
        <link rel="stylesheet" href="~/admin/dist/css/skins/_all-skins.min.css">
        <link rel="stylesheet" href="~/admin/dist/css/admin.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(value: JavaScriptSnippet.FullScript)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>TT</b>S</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>TTask</b>System</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @await Html.PartialAsync("_AdminLoginPartial")
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="treeview @(ViewData["Site"].Equals("Changes") || ViewData["Site"].Equals("ChangeSets") ? "active" : "")">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Changes</span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=@(ViewData["Site"].Equals("Changes") ? "active" : "")><a asp-area="Admin" asp-controller="Changes" asp-action="Index"><i class="fa fa-circle-o"></i> Changes</a></li>
                            <li class=@(ViewData["Site"].Equals("ChangeSets") ? "active" : "")><a asp-area="Admin" asp-controller="ChangeSets" asp-action="Index"><i class="fa fa-circle-o"></i> ChangeSets</a></li>
                        </ul>
                    </li>
                    <li class=@(ViewData["Site"].Equals("Priorities") ? "active" : "")><a asp-area="Admin" asp-controller="Priorities" asp-action="Index"><i class="fa fa-circle-o"></i> <span>Priorities</span></a></li>
                    <li class="treeview @(ViewData["Site"].Equals("Projects") || ViewData["Site"].Equals("Project statuses") || ViewData["Site"].Equals("Titles in project") ? "active" : "")">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>Project</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" >
                            <li class=@(ViewData["Site"].Equals("Projects") ? "active" : "")><a asp-area="Admin" asp-controller="Projects" asp-action="Index"><i class="fa fa-circle-o"></i> Projects</a></li>
                            <li class=@(ViewData["Site"].Equals("Project statuses") ? "active" : "")><a asp-area="Admin" asp-controller="StatusInProjects" asp-action="Index"><i class="fa fa-circle-o"></i> Statuses</a></li>
                            <li class=@(ViewData["Site"].Equals("Titles in project") ? "active" : "")><a asp-area="Admin" asp-controller="UserTitleInProjects" asp-action="Index"><i class="fa fa-circle-o"></i> User titles</a></li>
                        </ul>
                    </li>
                    <li class=@(ViewData["Site"].Equals("Statuses") ? "active" : "")><a asp-area="Admin" asp-controller="Status" asp-action="Index"><i class="fa fa-circle-o"></i><span> Statuses</span></a></li>
                    <li class="@(ViewData["Site"].Equals("User titles") ? "active" : "")"><a asp-area="Admin" asp-controller="UserTitles" asp-action="Index"><i class="fa fa-circle-o"></i> <span>User titles</span></a></li>
                    <li class="treeview @(ViewData["Site"].Equals("Users") || ViewData["Site"].Equals("Roles") || ViewData["Site"].Equals("User roles") ? "active" : "")">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Identity</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="@(ViewData["Site"].Equals("Users") ? "active" : "")"><a asp-area="Identity" asp-controller="IdentityUsers" asp-action="Index"><i class="fa fa-circle-o"></i> Users</a></li>
                            <li class="@(ViewData["Site"].Equals("Roles") ? "active" : "")"><a asp-area="Identity" asp-controller="IdentityRoles" asp-action="Index"><i class="fa fa-circle-o"></i> Roles</a></li>
                            <li class="@(ViewData["Site"].Equals("User roles") ? "active" : "")"><a asp-area="Identity" asp-controller="IdentityUserRoles" asp-action="Index"><i class="fa fa-circle-o"></i> User roles</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewData[index: "Site"]
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container">
                    @RenderBody()
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    
        <footer class="main-footer">
            <strong>2017 <a href="#">TTaskSystem</a>.</strong>
                @await Html.PartialAsync(partialViewName: "_LanguageSelectionPartial")
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
<environment names="Development">
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/cldrjs/dist/cldr.js"></script>
    <script src="~/lib/cldrjs/dist/cldr/event.js"></script>
    <script src="~/lib/cldrjs/dist/cldr/supplemental.js"></script>
    <script src="~/lib/cldrjs/dist/cldr/unresolved.js"></script>

    <script src="~/lib/globalize/dist/globalize.js"></script>
    <script src="~/lib/globalize/dist/globalize/number.js"></script>
    <script src="~/lib/globalize/dist/globalize/currency.js"></script>
    <script src="~/lib/globalize/dist/globalize/date.js"></script>
    <script src="~/lib/globalize/dist/globalize/message.js"></script>
    <script src="~/lib/globalize/dist/globalize/plural.js"></script>
    <script src="~/lib/globalize/dist/globalize/relative-time.js"></script>
    <script src="~/lib/globalize/dist/globalize/unit.js"></script>

    <script src="~/lib/moment/min/moment-with-locales.js"></script>
        
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin/dist/js/app.min.js"></script>
</environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection(name: "Scripts", required: false)
    
@{
    // cldr does not use region code for default. (et-EE -> et, en-US -> en).
    // so get the language part fot these cases
    // TODO: change cldr loading to fall back automatically (globalize and moment itself fall back nicely)
    var currentCultureCode = CultureInfo.CurrentCulture.Name;
    switch (currentCultureCode)
    {
        case "et-EE":
        case "en-US":
            currentCultureCode = currentCultureCode.Split('-')[0];
            break;
    }
}
    
<script type="text/javascript">
    $.when(
            $.get("/lib/cldr-core/supplemental/likelySubtags.json"),
            $.get("/lib/cldr-core/supplemental/numberingSystems.json"),
            $.get("/lib/cldr-core/supplemental/timeData.json"),
            $.get("/lib/cldr-core/supplemental/weekData.json"),
            $.get("/lib/cldr-numbers-modern/main/@currentCultureCode/numbers.json"),
            $.get("/lib/cldr-numbers-modern/main/@currentCultureCode/currencies.json"),
            $.get("/lib/cldr-dates-modern/main/@currentCultureCode/ca-generic.json"),
            $.get("/lib/cldr-dates-modern/main/@currentCultureCode/ca-gregorian.json"),
            $.get("/lib/cldr-dates-modern/main/@currentCultureCode/dateFields.json"),
            $.get("/lib/cldr-dates-modern/main/@currentCultureCode/timeZoneNames.json")
        ).then(function() {
            // get the json, drop request statuses
            return [].slice.apply(arguments, [0]).map(function(result) {
                return result[0];
            });
        })
        .then(Globalize.load)
        .then(function() {
            Globalize.locale('@CultureInfo.CurrentCulture.Name');
        }).then(function () {
            // TODO: for now, moment-with-locales is used alongside globalize. should get rid of moment or plug in globalize into moment

            // asp.net core sends datetimes in html5 spec format (independent of culture and uiculture)
            // datetime 2017-05-28T15:29:00.000, date 2017-05-05, time 15:29:00.000
            $('[type=time]').each(function(index, value) {
                $(value).attr('type', 'text').datetimepicker({ locale: '@CultureInfo.CurrentCulture.Name', format: 'LT' });
                $(value).attr('placeholder', moment.localeData('@CultureInfo.CurrentCulture.Name').longDateFormat('LT'));
                if (value.defaultValue !== '')
                    $(value).val(moment('0001-01-01T' + value.defaultValue).locale('@CultureInfo.CurrentCulture.Name').format('LT'));
            });
            $('[type="date"]').each(function (index, value) {
                $(value).attr('type', 'text').datetimepicker({ locale: '@CultureInfo.CurrentCulture.Name', format: 'L' });
                $(value).attr('placeholder', moment.localeData('@CultureInfo.CurrentCulture.Name').longDateFormat('L'));
                if (value.defaultValue !== '')
                    $(value).val(moment(value.defaultValue).locale('@CultureInfo.CurrentCulture.Name').format('L'));
            });
            $('[type=datetime]').each(function (index, value) {
                $(value).attr('type', 'text').datetimepicker({ locale: '@CultureInfo.CurrentCulture.Name' });
                $(value).attr('placeholder', moment.localeData('@CultureInfo.CurrentCulture.Name').longDateFormat('L') + ' ' + moment.localeData('@CultureInfo.CurrentCulture.Name').longDateFormat('LT'));
                if (value.defaultValue !== '')
                    $(value).val(Globalize.dateFormatter({ datetime: "short" })(new Date(value.defaultValue)));
            });

        });

</script>
</body>
</html>
