@using System.Globalization
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[index: "Title"] - WebApplication</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(value: JavaScriptSnippet.FullScript)
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">WebApplication</a>
        </div>
        <div class="navbar-collapse collapse">
            @if (SignInManager.IsSignedIn(User))
            {
            <ul class="nav navbar-nav">
                
                @if (User.IsInRole("Admin"))
                {
                    <li><a asp-area="Admin" asp-controller="Projects" asp-action="Index">Projects</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Identity <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="Identity" asp-controller="IdentityUsers" asp-action="Index">Users</a></li>
                            <li><a asp-area="Identity" asp-controller="IdentityRoles" asp-action="Index">Roles</a></li>
                            <li><a asp-area="Identity" asp-controller="IdentityUserRoles" asp-action="Index">User roles</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="Projects" asp-action="Index">Projects</a></li>
                }
            </ul>
            }
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2017 - WebApp @($"CurrentCulture: {CultureInfo.CurrentCulture.Name}, CurrentUICulture: {CultureInfo.CurrentUICulture.Name}")</p>
                </div>
                <div class="col-md-6">
                    @await Html.PartialAsync(partialViewName: "_LanguageSelectionPartial")
                </div>
            </div>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/cldrjs/dist/cldr.js"></script>
        <script src="~/lib/cldrjs/dist/cldr/event.js"></script>
        <script src="~/lib/cldrjs/dist/cldr/supplemental.js"></script>
        <script src="~/lib/cldrjs/dist/cldr/unresolved.js"></script>

        <script src="~/lib/globalize/dist/globalize.js"></script>
        <script src="~/lib/globalize/dist/globalize/number.js"></script>
        <script src="~/lib/globalize/dist/globalize/currency.js"></script>
        <script src="~/lib/globalize/dist/globalize/date.js"></script>
        <script src="~/lib/globalize/dist/globalize/message.js"></script>
        <script src="~/lib/globalize/dist/globalize/plural.js"></script>
        <script src="~/lib/globalize/dist/globalize/relative-time.js"></script>
        <script src="~/lib/globalize/dist/globalize/unit.js"></script>

        <script src="~/lib/moment/min/moment-with-locales.js"></script>
        
        <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection(name: "Scripts", required: false)
    
    @{
        // cldr does not use region code for default. (et-EE -> et, en-US -> en).
        // so get the language part fot these cases
        // TODO: change cldr loading to fall back automatically (globalize and moment itself fall back nicely)
        var currentCultureCode = CultureInfo.CurrentCulture.Name;
        switch (currentCultureCode)
        {
            case "et-EE":
            case "en-US":
                currentCultureCode = currentCultureCode.Split('-')[0];
                break;
        }
    }
    
    <script type="text/javascript">
        $.when(
                $.get("/lib/cldr-core/supplemental/likelySubtags.json"),
                $.get("/lib/cldr-core/supplemental/numberingSystems.json"),
                $.get("/lib/cldr-core/supplemental/timeData.json"),
                $.get("/lib/cldr-core/supplemental/weekData.json"),
                $.get("/lib/cldr-numbers-modern/main/@currentCultureCode/numbers.json"),
                $.get("/lib/cldr-numbers-modern/main/@currentCultureCode/currencies.json"),
                $.get("/lib/cldr-dates-modern/main/@currentCultureCode/ca-generic.json"),
                $.get("/lib/cldr-dates-modern/main/@currentCultureCode/ca-gregorian.json"),
                $.get("/lib/cldr-dates-modern/main/@currentCultureCode/dateFields.json"),
                $.get("/lib/cldr-dates-modern/main/@currentCultureCode/timeZoneNames.json")
            ).then(function() {
                // get the json, drop request statuses
                return [].slice.apply(arguments, [0]).map(function(result) {
                    return result[0];
                });
            })
            .then(Globalize.load)
            .then(function() {
                Globalize.locale('@CultureInfo.CurrentCulture.Name');
            }).then(function () {
                // TODO: for now, moment-with-locales is used alongside globalize. should get rid of moment or plug in globalize into moment

                // asp.net core sends datetimes in html5 spec format (independent of culture and uiculture)
                // datetime 2017-05-28T15:29:00.000, date 2017-05-05, time 15:29:00.000
                $('[type=time]').each(function(index, value) {
                    $(value).attr('type', 'text').datetimepicker({ locale: '@CultureInfo.CurrentCulture.Name', format: 'LT' });
                    $(value).attr('placeholder', moment.localeData('@CultureInfo.CurrentCulture.Name').longDateFormat('LT'));
                    if (value.defaultValue !== '')
                        $(value).val(moment('0001-01-01T' + value.defaultValue).locale('@CultureInfo.CurrentCulture.Name').format('LT'));
                });
                $('[type="date"]').each(function (index, value) {
                    $(value).attr('type', 'text').datetimepicker({ locale: '@CultureInfo.CurrentCulture.Name', format: 'L' });
                    $(value).attr('placeholder', moment.localeData('@CultureInfo.CurrentCulture.Name').longDateFormat('L'));
                    if (value.defaultValue !== '')
                        $(value).val(moment(value.defaultValue).locale('@CultureInfo.CurrentCulture.Name').format('L'));
                });
                $('[type=datetime]').each(function (index, value) {
                    $(value).attr('type', 'text').datetimepicker({ locale: '@CultureInfo.CurrentCulture.Name' });
                    $(value).attr('placeholder', moment.localeData('@CultureInfo.CurrentCulture.Name').longDateFormat('L') + ' ' + moment.localeData('@CultureInfo.CurrentCulture.Name').longDateFormat('LT'));
                    if (value.defaultValue !== '')
                        $(value).val(Globalize.dateFormatter({ datetime: "short" })(new Date(value.defaultValue)));
                });

            });

    </script>
</body>
</html>
