@model Domain.CustomFieldValue

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomFieldValue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FieldValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomField.CustomFieldId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomFieldValueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
