@model IEnumerable<Domain.CustomFieldValue>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FieldValue)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomField)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomField.CustomFieldId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomFieldValueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomFieldValueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomFieldValueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
