@model Domain.CustomField

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomField</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FieldName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FieldType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PossibleValues)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PossibleValues)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomFieldValueId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomFieldValueId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomFieldId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
