@model Domain.ChangeSet

@{
    ViewData["Title"] = "Details";
    ViewData["Site"] = "ChangeSets";
}

<h2>Details</h2>

<div>
    <h4>ChangeSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChangeSetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
