@model IEnumerable<Domain.ChangeSet>

@{
    ViewData["Title"] = "Index";
    ViewData["Site"] = "ChangeSets";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChangeSetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChangeSetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChangeSetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
