@model Domain.CustomField

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomField</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="CustomFieldId" />
        <dt>
            @Html.DisplayNameFor(model => model.FieldName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FieldType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PossibleValues)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PossibleValues)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsRequired)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
