@model IEnumerable<Domain.CustomField>

@{
    ViewData["Title"] = "Index";
    ViewData["Site"] = "Custom fields";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FieldName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FieldType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PossibleValues)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRequired)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FieldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PossibleValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequired)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomFieldId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomFieldId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomFieldId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
