@model WebApplication.ViewModels.ProjectTaskViewModel.ProjectTaskViewModel

<div class="form-group">
    <label asp-for="ProjectTask.Name" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="ProjectTask.Name" class="form-control" />
        <span asp-validation-for="ProjectTask.Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="ProjectTask.Description" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <textarea asp-for="ProjectTask.Description" class="form-control"></textarea>
        <span asp-validation-for="ProjectTask.Description" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="ProjectTask.DueDate" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input type="datetime" asp-for="ProjectTask.DueDate" class="form-control" />
        <span asp-validation-for="ProjectTask.DueDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="ProjectTask.Priority.Name" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="ProjectTask.PriorityId" class="form-control" asp-items="Model.PrioritySelectList"></select>
    </div>
</div>
<div class="form-group">
    <label asp-for="ProjectTask.Status.Status.Name" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="ProjectTask.StatusId" class="form-control" asp-items="Model.StatusSelectList"></select>
    </div>
</div>
<div class="form-group">
    <label asp-for="ProjectTask.AssignedTo" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="ProjectTask.AssignedToId" class="form-control" asp-items="Model.AssignedToSelectList"></select>
    </div>
</div>

@for (var i = 0; i < Model.CustomFields.Count; i++)
{
    switch (Model.CustomFields[i].FieldType.ToString())
    {
        case "Text":
            <div class="form-group">
                <label for="ProjectTask.CustomFieldValue[@i].FieldValue" class="col-md-2 control-label">@Model.CustomFields[i].FieldName</label>
                <div class="col-md-10">
                    <input type="hidden" id="ProjectTask.CustomFieldValue[@i].CustomFieldId" name="ProjectTask.CustomFieldValue[@i].CustomFieldId" value="@Model.CustomFields[i].CustomFieldId"/>
                    <input type="text" class="form-control" 
                           id="ProjectTask.CustomFieldValue[@i].FieldValue" 
                           name="ProjectTask.CustomFieldValue[@i].FieldValue"  
                           required="@Model.CustomFields[i].IsRequired" 
                           maxlength="@Model.CustomFields[i].MaxLength" 
                    @if (Model.ProjectTask != null) {
                        @:value="@Model.ProjectTask.CustomFieldValue[i].FieldValue"
                    }/>
                </div>
            </div>
            break;
    }
}

<div class="form-group">
    <label asp-for="ProjectTask.Attachments" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input type="file" name="files" multiple />
    </div>
</div>

